.gradle/
build/
out/
bin/
# Kotlin build-tool session state, written by buildSrc's Kotlin DSL compilation.
.kotlin/
!gradle/wrapper/gradle-wrapper.jar

.idea/
*.iml
*.ipr
*.iws
.vscode/
.DS_Store

*.log
.pids/

!**/src/main/**/build/
!**/src/test/**/build/
